
.cs-message__content{
  background-color: #F47820!important;
  border-radius: 10px!important;
  color: #fff!important;
}
.cs-message-list,
.cs-message-input{
  background-color: #F0F2F6!important;
}
.cs-message-input__content-editor-wrapper,
.cs-message-input__content-editor{
  background-color: #fff!important;
  color:#7B7878!important;
}
.scrollbar-container.cs-message-list__scroll-wrapper.ps > section:nth-child(n){
  max-width: 100%!important;
}

.cs-message-input > div:nth-child(1) > button{
  display: none!important;
}
.cs-message-input__content-editor-wrapper{
  margin-left: 15px!important;
}
.mx-auto.chat-container > div > div{
  flex-basis: 0!important;
}